.approve__content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #F0EFF2;
}

.approve__inner {
    width: 900px;
    min-height: calc(100vh - 100px);
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;
}

.approve__title {
    padding-left: 20px;
    border-left: 8px solid #000;
    font-size: 24px;
}

.approve__table {
    width: 100%;
    table-layout: fixed;
    background-color: white;
    border-radius: 10px;
}

.approve__label,
.approve__text {
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.approve__label {
    color: #737373;
    text-align: left;
    width: 350px;
    padding: 20px 50px;
    text-align: left;
}

.approve__text--name {
    text-align: left;
    padding-left: 25px;
}

.approve__inline {
    display: grid;
    grid-template-columns: 100px 80px 100px;
    align-items: center;
    height: 80px;
}

.approve__separator {
    text-align: center;
}

.approve__comment {
    width: 280px;
    padding-left: 30px;
    font-weight: bold;
}

.approve__notice {
    margin-top: 30px;
    text-align: right;
    color: #FF000080;
    font-weight: bold;
}

.approve__button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.approve__button-submit {
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.approve__button-submit--approved {
    background-color: #696969;
    color: white;
    border: none;
}