.header {
    height: 72px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    position: sticky;
    z-index: var(--mer-z-index-navigation-top);
    top: 0px;
}

.header__logo {
    font-size: 28px;
    font-weight: 700;
    color: #2563eb;
    letter-spacing: 0.05em;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav li {
    margin-right: 30px;
}

.header__link {
    text-decoration: none;
    color: #8b7e74;
    font-size: 16px;
    font-weight: bold;
}

.header__logout {
    border: none;
    outline: none;
    background: transparent;
    color: #8b7e74;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.page__container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #f5efe6;
}

.page__inner {
    width: 900px;
    margin: 0 auto 40px;
}

.page__title {
    padding-left: 20px;
    border-left: 8px solid #000;
    font-size: 24px;
}

.page__header {
    margin: 0 auto 40px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.page__wrapper {
    margin: 0px auto 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.page__table {
    width: 100%;
    table-layout: fixed;
}

.page__button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.page__button-submit {
    width: 120px;
    height: 40px;
    background-color: #7B6F66;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
