.daily__link {
    text-decoration: none;
    color: var(--color-muted);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.daily__link:hover {
    color: var(--color-primary);
}

.daily__arrow {
    width: 35px;
    opacity: 0.3;
    padding: 8px;
}

.daily__current {
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily__calendar {
    width: 30px;
    margin-right: 10px;
}

.daily__text {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.daily__arrow--next {
    transform: rotate(180deg);
}

.daily__head:first-child,
.daily__data:first-child {
    width: 200px;
}

.daily__head,
.daily__data {
    padding: 16px;
    text-align: center;
    color: var(--color-muted);
    font-weight: bold;
}

.daily__head {
    border-bottom: 3px solid var(--color-border);
}

.daily__data {
    border-bottom: 1px solid var(--color-border);
}

.daily__detail {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}

.daily__detail:hover {
    color: var(--color-primary);
}
