.detail__inner {
    width: 800px;
    min-height: calc(100vh - 100px);
    /* padding 50px X 2をマイナス */
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column; /* フォームを画面の上下中央配置 */
}

.detail__form {
    width: 100%;
    margin: auto 0; /* フォームを画面の上下中央配置 */
}

.detail__table {
    width: 100%;
    table-layout: fixed;
    background-color: white;
    border-radius: 10px;
}

.detail__label,
.detail__text {
    border-bottom: 2px solid #e1e1e1;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.detail__label {
    color: #737373;
    width: 350px;
    padding: 20px 50px;
    text-align: left;
}

.detail__text--name {
    text-align: left;
    padding-left: 25px;
}

.detail__inline {
    display: grid;
    grid-template-columns: 100px 80px 100px;
    align-items: center;
    height: 80px;
}

.detail__inline input {
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.detail__separator {
    text-align: center;
}

.detail__text--comment {
    text-align: left;
    padding-left: 30px;
}

.detail__comment {
    width: 280px;
}

.detail__textarea {
    margin: 10px 0px;
    width: 100%;
    height: 50px;
    font-weight: bold;
}

.detail__form input:disabled,
.detail__form textarea:disabled {
    background-color: transparent;
    color: #000;
    opacity: 1;
    border: none;
    font-weight: bold;
}

input[type="time"],
input[type="time"]::-webkit-datetime-edit {
    font-family: inherit;
}

.detail__pending,
.detail__notice {
    margin-top: 30px;
    text-align: right;
    color: #ff000080;
    font-weight: bold;
}

.detail__error {
    color: red;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
}

.detail__error p {
    margin-top: 0;
}
