.monthly__content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #F0EFF2;
}

.monthly__inner {
    width: 900px;
    margin: 0 auto 40px;
}

.monthly__title {
    padding-left: 20px;
    border-left: 8px solid #000;
    font-size: 24px;
}

.monthly__header {
    margin: 0 auto 40px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.monthly__link {
    text-decoration: none;
    color: #737373;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.monthly__arrow {
    width: 35px;
    opacity: 0.3;
    padding: 8px;
}

.monthly__current {
    display: flex;
    justify-content: center;
    align-items: center;
}
.monthly__calendar {
    width: 30px;
    margin-right: 10px;
}

.monthly__text {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.monthly__arrow--next {
    transform: rotate(180deg);
}

.monthly__wrapper {
    margin: 0 auto 40px;
    background-color: white;
    border-radius: 10px;
}

.monthly__table {
    width: 100%;
    table-layout: fixed;
}

.monthly__head:first-child,
.monthly__data:first-child {
    width: 200px;
}

.monthly__head,
.monthly__data {
    padding: 16px;
    text-align: center;
    color: #737373;
    font-weight: bold;    
}

.monthly__head {
    border-bottom: 3px solid #E1E1E1;
}

.monthly__data {
    border-bottom: 1px solid #E1E1E1;
}

.monthly__detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0;
}

.monthly__button {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.monthly__button-submit {
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}