.report__description {
    font-weight: bold;
}

.report__header {
    font-size: var(--font-size-title);
    font-weight: bold;
}

.report__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.report__group {
    background-color: var(--color-surface);
    border: 3px solid var(--color-border);
    border-radius: 8px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.report__label {
    font-size: var(--font-size-label);
}

.report__value {
    font-size: var(--font-size-title);
    font-weight: bold;
}

.report__table {
    width: 100%;
    table-layout: fixed;
}

.report__head:first-child,
.report__data:first-child {
    width: 500px;
}

.report__row {
    border-bottom: 1px solid var(--color-border);
}

.report__head:nth-child(3),
.report__data:nth-child(3) {
    text-align: right;
}

.report__head {
    text-align: left;
}

.report__data {
    font-weight: bold;
}

.report__head,
.report__data {
    padding: 8px 0px;
}