.request__content {
    min-height: 100vh;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #F0EFF2;
}

.request__inner {
    width: 900px;
    min-height: calc(100vh - 100px);
    /* padding 50px X 2をマイナス */
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column;  /* フォームを画面の上下中央配置 */
}

.request__title {
    padding-left: 20px;
    border-left: 8px solid #000;
    font-size: 24px;
}

.request__tab {
    border-bottom: 2px solid #5F5F5F;
    margin-top: 30px;
    margin-bottom: 50px;
}

.request__tab ul {
  display: flex;
  gap: 80px;
  padding: 0px 70px;
}

.request__tab-item a {
    text-decoration: none;
    color: black;
}

.request__tab-item.is-active a {
    font-weight: bold;
}

.request__wrapper {
    margin: 0 auto 40px;
    background-color: white;
    border-radius: 10px;
}

.request__table {
    width: 100%;
    table-layout: fixed;
}

.request__head,
.request__data {
    padding: 16px;
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.request__head {
    border-bottom: 3px solid #E1E1E1;
}

.request__data {
    border-bottom: 1px solid #E1E1E1;
}

.request__detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}