.request__inner {
    width: 900px;
    min-height: calc(100vh - 100px);
    /* padding 50px X 2をマイナス */
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column; /* フォームを画面の上下中央配置 */
}

.request__tab {
    border-bottom: 2px solid #5f5f5f;
    margin-top: 30px;
    margin-bottom: 50px;
}

.request__tab ul {
    display: flex;
    gap: 80px;
    padding: 0px 70px;
}

.request__tab-item a {
    text-decoration: none;
    color: black;
}

.request__tab-item.is-active a {
    font-weight: bold;
}

.request__head,
.request__data {
    padding: 16px;
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.request__head {
    border-bottom: 3px solid #e1e1e1;
}

.request__data {
    border-bottom: 1px solid #e1e1e1;
}

.request__detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
