.request__inner {
    width: 900px;
    min-height: calc(100vh - 100px);
    /* padding 50px X 2をマイナス */
    margin: 0 auto 40px;
    display: flex;
    flex-direction: column; /* フォームを画面の上下中央配置 */
}

.request__tab {
    border-bottom: 2px solid var(--color-border);
    margin-top: 30px;
    margin-bottom: 50px;
}

.request__tab ul {
    display: flex;
    gap: 80px;
    padding: 0px 70px;
}

.request__tab-item a {
    text-decoration: none;
    color: var(--color-text);
}

.request__tab-item.is-active a {
    font-weight: bold;
}

.request__head,
.request__data {
    padding: 16px;
    text-align: center;
    color: var(--color-muted);
    font-weight: bold;
}

.request__head {
    border-bottom: 3px solid var(--color-border);
}

.request__data {
    border-bottom: 1px solid var(--color-border);
}

.request__detail {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}

.request__detail:hover {
    color: var(--color-primary);
}
