.staff__head,
.staff__data {
    padding: 16px;
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.staff__head {
    border-bottom: 3px solid #e1e1e1;
}

.staff__data {
    border-bottom: 1px solid #e1e1e1;
}

.staff__detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
