.staff__inner {
    width: 900px;
    margin: 0 auto 40px;
}

.staff__title {
    padding-left: 20px;
    border-left: 8px solid #000;
    font-size: 24px;
}

.staff__wrapper {
    margin: 80px auto 40px;
    background-color: white;
    border-radius: 10px;
}

.staff__table {
    width: 100%;
    table-layout: fixed;
}

.staff__head,
.staff__data {
    padding: 16px;
    text-align: center;
    color: #737373;
    font-weight: bold;
}

.staff__head {
    border-bottom: 3px solid #E1E1E1;
}

.staff__data {
    border-bottom: 1px solid #E1E1E1;
}

.staff__detail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}